<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles.css">
    <title>Node JS</title>
</head>

<body>
    <%- include('partials/nav') %>
    <h1>This is the amazingest web on the web!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ex, blanditiis ullam pariatur atque cumque. Illum,
        fuga? Et, numquam illo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe delectus necessitatibus quam culpa
        distinctio voluptas earum molestias! Illo suscipit saepe magni, deleniti repudiandae nisi, libero officiis
        explicabo adipisci voluptate tempore! Accusantium totam nulla quos molestias quibusdam minima voluptas ipsum
        cum, dolore, dolor expedita ad amet veniam odit reiciendis animi.</p>
</body>

</html>